.home-container {
  background-image: url('/images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
}

.content-container {
  margin-bottom: 15px;
}

.content-post {
  max-height: calc(100vh - 207px);
  overflow: scroll;
}
